button[type="submit"] {

    background-color: orangered;

    color: #ffffff;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.5s;

}

button[type="submit"]:hover {

    background-color: #003366;

}